/* Roboto */
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('../fonts/roboto-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('../fonts/roboto-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* Helios */
@font-face {
  font-family: 'HeliosCond';
  font-display: swap;
  src: url('../fonts/helioscond-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}